<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>Teached-Tree System</title>
<!--
    <link href="css/style.css" rel='stylesheet' type='text/css' />
-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="teachers,tree,Login ,Sign up ,Registration "./>
<meta name="description" content="this is teached-tree system login performence">
<meta name="robots" content="none">
<!-- mobile devices surport-->
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="handheldfriendly" content="true">
<!--per 300 seconds refresh the web-->
<meta http-equiv="refresh" content="300">
<link href="../static/css/homepage-css.css" rel="stylesheet">

</head>
<body>
    <header>
        <h1><strong><!--<big>teach-tree system</big>-->teach-tree system </strong></h1>
        <nav>
                <ul  role="menuitem" class="ul1">
                    <!--using role can help low vision people to use this website-->
                        <li role="menuitem"><span class="red"><font size="6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspinsert&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</font></span> </li>
                        <li role="menuitem"><span class="yellow"><font size="6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspdelete&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</font></span></li>
                        <li role="menuitem"><span class="blue"><font size="6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspupdate&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</font></span></li>
                        <li role="menuitem"><span class="green"><font size="6">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspselect&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </font></span></li>
        </nav>  
    </header>
    <!-- i think we can devide two section.one is for display teached-tree and the other is
    for insert ,delete,update,select -->
    <section id="leftSection">
        <h2>maintain your tree</h2>
        <!-- there should be a empty field to show the operating results -->
        <table>
            <!--<caption>Teacher-Information-Table</caption>-->
            <thead>
                <tr>
                    <th>
                        Teachers
                    </th>
                </tr>
            </thead>
        
        <tobody>
            <tr>
                <td>
                    a
                </td>
            </tr>
            <tr>
                <td>
                   b 
                </td>
            </tr>
            <tr>
                <td>
                   c 
                </td>
            </tr>
        </tobody>
       </table>
    </section>
    <section id="rightSection">
        <h2>the current teached-tree</h2>
        <!-- there should be a field to show the current tree-->
            <table>
               <!--<Caption>Students Information Table</Caption>--> 
                <thead>
                    <tr>
                        <th>
                            Students
                        </th>
                    </tr>
                </thead>
            
            <tobody>
                <tr>
                    <td>
                        d
                    </td>
                </tr>
                <tr>
                    <td>
                        e
                    </td>
                </tr>
                <tr>
                    <td>
                        f
                    </td>
                </tr>
            </tobody>
        </table>
    </section>
    <aside>
        <h4>how to use the system</h4>
        <article>
            
            <!-- if readme file or words too large,open a new web-->
            <p class="tip">
                    <span class="red">discription file or words</span> 
            </p>
            <header><a href="README.html" target="_blank">README</a></header>
            <footer>
                <p>article published time:<time datetime="2019-03-14">2019.3.14</time></p>
                
            </footer>
        </article>
    </aside>
    <footer id="bottom">
            <p id="copyright"><div id="copyrightWords">manufacture by XZJ-XZ. &nbsp&nbsp&nbsp&nbsp&nbspAll rights reserved</div><!--&nbsp is blank space--></p>
            
        </footer>
</html>